/* 
    @Author: Po7mn1
    @Date: 2022/1/8
    @Description: IceUI Main Front Page Style
*/
*{
    margin: 0;
    padding: 0;
    text-shadow: 0px 0px 10px rgb(255, 255, 255, 0.5);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background: url(https://cdn.jsdelivr.net/gh/icecliffs/images@1.0.0/www.icecliffs.cn/touhou-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    z-index: 233;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0,0.3);
}
.box{
    color: rgb(0,0,0);
    margin: 0 auto;
    width: 45%;
    height: 400px;
    display:-webkit-flex;
    float: left;
}

.introduce .avatar{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 10px solid rgb(255 255 255 / 44%);
    -webkit-background-size: 220px 220px;
    -moz-background-size: 220px 220px;
    background-size: 220px 220px;
    -webkit-border-radius: 110px;
    border-radius: 110px;
    -webkit-transition: -webkit-transform 0.5s ease-out;
    -moz-transition: -moz-transform 0.5s ease-out;
    -o-transition: -o-transform 0.5s ease-out;
    -ms-transition: -ms-transform 0.5s ease-out;
}

.avatar:hover{
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}

/* -webkit-transform: rotate(360deg);
animation: rotation 1s linear;
-moz-animation: rotation 1s linear;
-webkit-animation: rotation 1s linear;
-o-animation: rotation 1s linear; */

/* @-webkit-keyframes rotation{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
} */

.introduce{
    width: 250px;
    height: 100%;
    text-align: center;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(175, 175, 175, 0.829);
    box-shadow: 0px 0px 33px -4px rgb(0 0 0);
}

.minibor{
    margin: 0 auto;
    width: 95%;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0.5px;
    box-shadow: 0px 0px 10px -4px rgb(0 0 0);
    background-color: rgba(0, 34, 66, 0.699);
}

.introduce .titledes{
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}

.introduce ul{
    line-height: 30px;
    list-style: none;
}

.introduce-neighbor{
    margin-left: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(0 0 0 / 68%);
    box-shadow: 0px 0px 15px 2px rgb(0 0 0);
}

.introduce-neighbor .newp{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 500;
}

.introduce-neighbor{
    padding: 20px 20px;
}

.introduce-neighbor a{
    display: block;
    color: white;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 20px;
    /* border-bottom: 1px dashed white; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#banner_wave_1 {
    height: 40px;
    background: url(https://cdn.jsdelivr.net/gh/icecliffs/images@1.0.0/www.icecliffs.cn/wave.png) repeat-x;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 1;
    filter: blur(3px);
    animation: move2 30s linear infinite;
}

#banner_wave_2 {
    filter: blur(3px);
    height: 40px;
    background: url(https://cdn.jsdelivr.net/gh/icecliffs/images@1.0.0/www.icecliffs.cn/wave.png) repeat-x;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    animation: move2 20s linear infinite;
}
@keyframes move2{100%{background-position:-100% 0}}


.tt-page{
    font-size: 25px;
    text-align: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.copy-right {
    border-top: none;
    padding-top: 15px;
    font-size: 15px;
    text-align: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (max-width: 768px) {
    .box{
        width: 440px;
        height: 500px;
    }
    .beian{
        display: none;
    }
    .command-font{
        display: none;
    }
    .fuckcat{
        display: none;
    }
    .archive-list a{
        padding-left: 0;
        width:240px;
        font-size:13px; 
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
    }
}

.hitokoto{
    text-align: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: rgb(238, 255, 144);
    text-shadow: 0px 0px 3px rgb(255 255 255);
}   

.countpanel{
    margin-top: 20px;
    text-align: center;
    height: 60px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0px 0px 0px 1px rgb(255, 255, 255);
}

#mother .linkme{
    font-size: 15px;
    color: black;
    padding-top: 20px;
    height: 100%;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
}

.command{
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 99;
    text-align: center;
    margin-top: 0;
    height: 40px;
    padding: 5px 0px 5px 0px;
}

.container .type-command{
    color: white;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.links{
    font-weight: 400;
    right: 0;
    top: 0;
    padding: 5px 0px 5px 0px;
    position: fixed;
}

.links a{
    color:rgb(255, 255, 255);
    padding-right: 10px;
    text-decoration: none;
    display: inline-block;
}

.beian{
    border-radius: 20px;
    position:absolute;
    text-align: center;
    padding: 17px 17px;
    background-color: rgb(0, 0, 0,.8);
    animation: Boom 0.9s;
    bottom: 100px;
    overflow: hidden;
}

@keyframes Boom{
    0%{
        bottom: -100px;
    }
    100%{
        bottom: 100px;
    }
}

.beian p{
    font-size: 15px;
    color: white;
}

.beian a{
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.beian a:hover{
    text-decoration: underline;
}

.fuckcat{
    position: fixed;
    z-index: 0;
    width: 100%;
}

@font-face {
    font-family: kawai;
    src: url(/assets/css/Candyshop.otf);
}

.command-font{
    animation:h-font-jump 4.5s infinite;
    -moz-animation:h-font-jump 4.5s infinite;
    -webkit-animation:h-font-jump 4.5s infinite;
    -o-animation:h-font-jump 4.5s infinite;
    margin-top: 100px;
    margin-left: 15px;
}

.h-font {
    display: inline-block;
    font-family: kawai;
    font-size: 80px;
    color: #ffffff;
    /* -webkit-text-stroke: 2px rgb(255,255,255,0.3); */
    position: relative;
    letter-spacing: 3px;
    animation:h-font 2s 1;
    -moz-animation:h-font 2s 1;
    -webkit-animation:h-font 2s 1;
    -o-animation:h-font 2s 1;
    -webkit-border-radius:5px;
    box-sizing: border-box;
    padding-left: 4px;
    font-weight: 400;
}

@keyframes h-font-jump {
    0% {  
        transform: translate(0px, 0px);  
    }  
    50% {  
        transform: translate(0px, -12px);  
    }  
    100% {  
        transform: translate(0px, 0px);  
    }  
}
@keyframes h-font
{
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1.8);
    }
    100%{
        transform: scale(1);
    }
    /* 0% {transform: rotate(0deg);color:#fffb00;}
    25% {transform: rotate(20deg);color:#ff00ea;}
    50% {transform: rotate(0deg);transform: scale(1.4);}
    55% {transform: rotate(0deg);color:#0004ff;}
    60% {transform: rotate(20deg);color:#4dc217;}
    65% {transform: rotate(0deg);color:#106270;}
    70% {transform: rotate(0deg);color:#2c9b00;}
    100% {transform: rotate(-360deg);color:#ffffff;} */
}

@-webkit-keyframes h-font
{
    0% {transform: rotate(0deg);color:#fffb00;}
    25% {transform: rotate(20deg);color:#ff00ea;}
    50% {transform: rotate(0deg);transform: scale(1.4);}
    55% {transform: rotate(0deg);color:#0004ff;}
    60% {transform: rotate(20deg);color:#4dc217;}
    65% {transform: rotate(0deg);color:#106270;}
    70% {transform: rotate(0deg);color:#2c9b00;}
    100% {transform: rotate(-360deg);color:#ffffff;}
}

@-moz-keyframes h-font
{
    0% {transform: rotate(0deg);color:#fffb00;}
    25% {transform: rotate(20deg);color:#ff00ea;}
    50% {transform: rotate(0deg);transform: scale(1.4);}
    55% {transform: rotate(0deg);color:#0004ff;}
    60% {transform: rotate(20deg);color:#4dc217;}
    65% {transform: rotate(0deg);color:#106270;}
    70% {transform: rotate(0deg);color:#2c9b00;}
    100% {transform: rotate(-360deg);color:#ffffff;}
}

@-o-keyframes h-font
{
    0% {transform: rotate(0deg);color:#fffb00;}
    25% {transform: rotate(20deg);color:#ff00ea;}
    50% {transform: rotate(0deg);transform: scale(1.4);}
    55% {transform: rotate(0deg);color:#0004ff;}
    60% {transform: rotate(20deg);color:#4dc217;}
    65% {transform: rotate(0deg);color:#106270;}
    70% {transform: rotate(0deg);color:#2c9b00;}
    100% {transform: rotate(-360deg);color:#ffffff;}
}

.article-css{
    font-size: 15px;
}

.archive-list a{
    font-size: 15px;
    color: black;
}
.archive-list .meta{
    color: rgba(255, 0, 0, 0.801);
}   